<!DOCTYPE html>
<html>
<!--HEY! DU DA! ( ͡° ͜ʖ ͡°) Möchtest du mich beim programmieren unterstützen? Schreib mich auf Discord an! (#Erizzle#0001)
    ───────────────────────────────
    ───────────────████─███────────
    ──────────────██▒▒▒█▒▒▒█───────
    ─────────────██▒────────█──────
    ─────────██████──██─██──█──────
    ────────██████───██─██──█──────
    ────────██▒▒▒█──────────███────
    ────────██▒▒▒▒▒▒───▒──██████───
    ───────██▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒███─
    ──────██▒▒▒▒─────▒▒▒▒▒▒▒▒▒▒▒▒█─
    ──────██▒▒▒───────▒▒▒▒▒▒▒█▒█▒██
    ───────██▒▒───────▒▒▒▒▒▒▒▒▒▒▒▒█
    ────────██▒▒─────█▒▒▒▒▒▒▒▒▒▒▒▒█
    ────────███▒▒───██▒▒▒▒▒▒▒▒▒▒▒▒█
    ─────────███▒▒───█▒▒▒▒▒▒▒▒▒▒▒█─
    ────────██▀█▒▒────█▒▒▒▒▒▒▒▒██──
    ──────██▀██▒▒▒────█████████────
    ────██▀███▒▒▒▒────█▒▒██────────
    █████████▒▒▒▒▒█───██──██───────
    █▒▒▒▒▒▒█▒▒▒▒▒█────████▒▒█──────
    █▒▒▒▒▒▒█▒▒▒▒▒▒█───███▒▒▒█──────
    █▒▒▒▒▒▒█▒▒▒▒▒█────█▒▒▒▒▒█──────
    ██▒▒▒▒▒█▒▒▒▒▒▒█───█▒▒▒███──────
    ─██▒▒▒▒███████───██████────────
    ──██▒▒▒▒▒██─────██─────────────
    ───██▒▒▒██─────██──────────────
    ────█████─────███──────────────
    ────█████▄───█████▄────────────
    ──▄█▓▓▓▓▓█▄─█▓▓▓▓▓█▄───────────
    ──█▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓█──────────
    ──█▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓█──────────
    ──▀████████▀▀███████▀──────────

CHANGELOG
0.2.5 - 18.11.2018
BILDER! Endlich gibt es geile Bilder für jeden Lehrer! Lehrer können mich unter eric.anhalt@gymnasium-essen-werden.de kontaktieren, damit ein Bild von ihnen hinzugefügt wird.

0.2.4 - 16.11.2018
Die Seite hat eine Schönheits-OP gehabt! Ab sofort sieht alles besser aus, man kann nach Lehrernamen suchen, es gibt ähnliche Ergebnisse, und man kann E-Mails schreiben!
Wie GEIL ist DAS denn bitte?! 

0.2.3 - 13.11.2018
Wann sind die nächsten Ferien?! Ich muss es unbedingt wissen! Zum Glück gibt es jetzt einen Knopf dafür. Gott sei Dank! Gepriesen seie der Knopf!

0.2.2 - 19.09.2018
Mit der Hilfe von Jan hat die Seite nun ein ganz ordentliches css Layout. Wichtig für uns war es auch hier, die benötigten Daten
auf einem Minimum zu halten. Der Discord-Link wurde zum Button, die Input-Box hat eine Schönheitsoperation bekommen, und Hintergrund-
farbe und Schriftart haben sich verändert.

0.2.1 - 18.09.2018
Aus Herrn Rusch wurde Frau Rusch. So schnell geht das.

0.2.0 - 14.09.2018
Einige Fehler bei Lehrern wurden behoben. Außerdem ist die Eingabe nun unabhängig von Groß- und Kleinschreibung. Wie praktisch!

0.1.12 - 13.09.2018
Ein netter Discord Link wurde hinzugefügt. Komm drauf, ansonsten verpasst du ne Menge. https://discord.gg/cBYeegX (⌐■_■)

0.1.1 - 13.09.2018
Solltest du von deinem Apfel-Gerät aus ein Lesezeichen auf den HOME-Bildschirm setzen, ist jetzt ein wunderschönes Icon vorhanden.

0.1.0 - 13.09.2018
Erweiterungen! Ich liebe Erweiterungen! Ab sofort werden bei den Lehrern auch die AG's angezeigt!

0.0.7 - 13.09.2018
Fehler wurden behoben bei: Buhr, Wiesemann, Kan, Pomp-Khalil, Rhode, Winkler, Rusch, Stahl (L.)

0.0.6 - 12.09.2018
Klickt man auf den E-Mail Link, wird jetzt eine winzige vorgeschriebene Mail angezeigt.

0.0.5 - 12.09.2018
Dank Jan ist der "Prüfen" Knopf weg. Auf mobilen Geräten sieht alles geil aus, und alles wird in Echtzeit geupdated. So wie es sein sollte.

0.0.4 - 12.09.2018
Alles wurde zentriert, weil zentrierte Dinge geil sind.

0.0.3 - 12.09.2018
Einige Visuelle Verbesserungen. Darunter HTML Icon und Titel. Dennoch bleibt die Webseite schnell was Ladezeiten angeht. Vorteil: Ist die Webseite einmal geladen,
kann direkt auf die gesamte Datenbank zugegriffen werden. Nach dem "Prüfen" wird direkt das Kürzel angezeigt. Ohne Ladezeiten.

0.0.2 - 12.09.2018
Die Liste der Lehrer wurde erweitert. Referendare werden erkannt, und bei allen Lehrern wurde das Geschlecht angegeben.
Einige Rechtschribfehler wurden behoben ^-^

0.0.1 - 02.09.2018
Das Grundkonzept der Seite ist fertig. Alle Lehrer wurden hinzugefügt.
-->

<head>
    <title>GEW-Lehrer-Info</title>
    <meta charset="utf-8" />
    <link rel="Icon" href="GEW.png">
    <link rel="apple-touch-icon" href="GEW.png" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="app">
        <center>
            <h2>Alle Lehrer durchsuchen</h2>
            <input v-model="input" type="text" maxlength="20" placeholder="Suche nach Name oder Kürzel" />

            <br><br>
            <div v-if="bestResult" class="card">
                <teacher :teacher="bestResult"></teacher>
            </div>

            <br>
            <h2 v-if="results && results.length > 0 && bestResult">Weitere Ergebnisse:</h2>
            <ul>
                <li v-for="teacher in results">
                    <teacher :teacher="teacher"></teacher>
                    <hr>
                </li>
            </ul>

            <h3 v-if="!bestResult && (!results || results.length === 0) && input.length > 0">Keine Ergebnisse</h3>

            <h5>© Eric Anhalt & Jan Schnorrenberg 2018</h5>
            <a class="button" href="https://discord.gg/cBYeegX">GEW-DISCORD</a>
            <br><br>
            <a href="Ferien.html">Wann sind Ferien?</a>
        </center>
    </div>
</body>

<script>


    new Vue({
        el: '#app',
        data() {
            return {
                input: '',
                bestResult: null,
                results: null
            }
        },
        watch: {
            input() {
                const search = this.input.toLowerCase().trim();
                this.results = this.bestResult = null;
                if (search === null || search.length === 0)
                    return;
                this.bestResult = teachers.filter(e => e.short === search)[0];
                this.results = teachers.filter(e => e.short !== search && (e.name.toLowerCase().indexOf(search) > -1 || e.subjects.includes(search) || e.ags.includes(search)))
            }
        }
    });

    Vue.component('teacher', {
        props: ['teacher'],
        template: `
        <div v-if="teacher" class="result">
                
                <img v-if="teacher.img" :src="teacher.img"/>
            <table>
            <tr>
                <td><b>Kürzel</b></td>
                <td>{{ teacher.short.toUpperCase() }}</td>
                
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td>{{ teacher.gender === 'm' ? 'Herr' : 'Frau' }} {{ teacher.name }}</td>
            </tr>
            <tr>
                <td><b>Unterrichtet</b></td>
                <td>{{ teacher.subjects.join(', ') }}</td>
            </tr>
            <tr v-if="teacher.ags.length > 0">
                <td><b>AGs</b></td>
                <td>{{ teacher.ags.join(', ') }}</td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td><a :href="'mailto:' + teacher.email + '@gymnasium-essen-werden.de'">{{ teacher.email }}</a></td>
            </tr>
            </table>
        </div>`
    });

    const teachers = [
        {
            short: "al",
            gender: "m",
            email: "m.albrecht",
            name: "Albrecht",
            subjects: ["Informatik", "Chemie"],
            ags: ["Informatik-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/.png"
        },
        {
            short: "an",
            gender: "w",
            email: "a.augustin",
            name: "Augustin",
            subjects: ["Evangelische Religion"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/an.png"
        },
        {
            short: "au",
            gender: "m",
            email: "h.augustin",
            name: "Augustin",
            subjects: ["Deutsch", "Geschichte", "Spanisch"],
            ags: ["Poetry Slam-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/au.png"
        },
        {
            short: "ba",
            gender: "w",
            email: "c.bach",
            name: "Bach",
            subjects: ["Deutsch", "Erdkunde"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ba.png"
        },
        {
            short: "bd",
            gender: "w",
            email: "c.badiou",
            name: "Badiou",
            subjects: ["Latein", "Französisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/bd.png"
        },
        {
            short: "bf",
            gender: "m",
            email: "s.bergerhoff",
            name: "Bergerhoff",
            subjects: ["Physik", "Biologie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/bf.png"
        },
        {
            short: "bg",
            gender: "w",
            email: "n.berg-rose",
            name: "Berg-Rose",
            subjects: ["Deutsch", "Englisch", "Praktische Philosophie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/bg.png"
        },
        {
            short: "bl",
            gender: "m",
            email: "u.blech",
            name: "Blech",
            subjects: ["Physik", "Evangelische Religion"],
            ags: ["Astronomie-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/bl.png"
        },
        {
            short: "bo",
            gender: "m",
            email: "n.bonnekessel",
            name: "Bonnekessel",
            subjects: ["Sport", "Latein"],
            ags: ["Fußball-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/bo.png"
        },
        {
            short: "bs",
            gender: "w",
            email: "h.bosset",
            name: "Bosset",
            subjects: ["Englisch", "Kunst"],
            ags: [],
            ref: false,
            img: "img/Bosset.png"
        },
        {
            short: "br",
            gender: "m",
            email: "k.brill",
            name: "Brill",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/br.png"
        },
        {
            short: "bz",
            gender: "w",
            email: "i.buchholz",
            name: "Buchholz",
            subjects: ["Chemie", "Kunst"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/bz.png"
        },
        {
            short: "bj",
            gender: "m",
            email: "j.buhr",
            name: "Dr. Buhr",
            subjects: ["Deutsch", "Musik"],
            ags: ["Orchester-AG"],
            ref: false,
            img: "img/Buhr.png"
        },
        {
            short: "mb",
            gender: "w",
            email: "m.buhr",
            name: "Buhr",
            subjects: ["Englisch", "Spanisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/mb.png"
        },
        {
            short: "bu",
            gender: "m",
            email: "a.busse",
            name: "Dr. Busse",
            subjects: ["Physik", "Philosophie"],
            ags: ["Bühnentechnik-AG", "Jugend forscht-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/bu.png"
        },
        {
            short: "co",
            gender: "w",
            email: "n.colesie",
            name: "Colesie",
            subjects: ["Französisch", "Geschichte"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/co.png"
        },
        {
            short: "di",
            gender: "w",
            email: "a.dittmann",
            name: "Dittmann",
            subjects: ["Italienisch", "Deutsch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/di.png"
        },
        {
            short: "do",
            gender: "w",
            email: "a.dornebeck",
            name: "Dornebeck",
            subjects: ["Deutsch", "Erdkunde"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/do.png"
        },
        {
            short: "du",
            gender: "m",
            email: "g.duecker",
            name: "Dücker",
            subjects: ["Musik"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/du.png"
        },
        {
            short: "ec",
            gender: "m",
            email: "t.eickmann",
            name: "Eickmann",
            subjects: ["Mathe", "Englisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ec.png"
        },
        {
            short: "ed",
            gender: "m",
            email: "n.eldesouki",
            name: "Eldesouki",
            subjects: ["Tanz"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ed.png"
        },
        {
            short: "el",
            gender: "m",
            email: "m.ellenbruch",
            name: "Ellenbruch",
            subjects: ["Englisch", "Kunst"],
            ags: ["Bühnenbild-AG", "Rock- und Popmusik AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/el.png"
        },
        {
            short: "en",
            gender: "m",
            email: "c.enk",
            name: "Enk",
            subjects: ["Mathe", "Erdkunde"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/en.png"
        },
        {
            short: "er",
            gender: "w",
            email: "z.ernst",
            name: "Ernst",
            subjects: ["Musik"],
            ags: ["Chor-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/er.png"
        },
        {
            short: "gm",
            gender: "m",
            email: "r.gemein",
            name: "Gemein",
            subjects: ["Englisch", "Kunst"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/gm.png"
        },
        {
            short: "go",
            gender: "w",
            email: "a.gollan",
            name: "Gollan",
            subjects: ["Kunst"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/go.png"
        },
        {
            short: "gr",
            gender: "m",
            email: "s.grote",
            name: "Grote",
            subjects: ["Physik", "Mathe"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/gr.png"
        },
        {
            short: "ha",
            gender: "m",
            email: "r.haase",
            name: "Haase",
            subjects: ["Biologie", "Sozialwissenschaften"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ha.png"
        },
        {
            short: "he",
            gender: "w",
            email: "m.heller-berendes",
            name: "Heller",
            subjects: ["Biologie", "Deutsch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/he.png"
        },
        {
            short: "hc",
            gender: "m",
            email: "c.hengstermann",
            name: "Hengstermann",
            subjects: ["Latein", "Englisch", "Katholische Religion", "Praktische Philosophie"],
            ags: ["Religion/Philosophie bilingual-AG", "Altgriechisch-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/hc.png"
        },
        {
            short: "hm",
            gender: "w",
            email: "c.hermey",
            name: "Hermey",
            subjects: ["Englisch", "Biologie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/hm.png"
        },
        {
            short: "hy",
            gender: "m",
            email: "m.hermey",
            name: "Hermey",
            subjects: ["Biologie", "Sport", "Mathe"],
            ags: [],
            ref: false,
            img: "img/Hermey.png"
        },
        {
            short: "hi",
            gender: "m",
            email: "t.hinz",
            name: "Hinz",
            subjects: ["Französisch", "Musik"],
            ags: ["Chor-AG", "Orchester-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/hi.png"
        },
        {
            short: "hp",
            gender: "w",
            email: "c.hoerentrup",
            name: "Hörentrup",
            subjects: ["Deutsch", "Evangelische Religion"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/hp.png"
        },
        {
            short: "ho",
            gender: "m",
            email: "j.hoerentrup",
            name: "Hörentrup",
            subjects: ["Mathe", "Chemie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ho.png"
        },
        {
            short: "ja",
            gender: "w",
            email: "c.jacobs-neumann",
            name: "Jacobs-Neumann",
            subjects: ["Erdkunde", "Politik"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ja.png"
        },
        {
            short: "ju",
            gender: "m",
            email: "r.jungblut",
            name: "Jungblut",
            subjects: ["Sport", "Politik"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ju.png"
        },
        {
            short: "ka",
            gender: "w",
            email: "l.kalb",
            name: "Kalb",
            subjects: ["Französisch", "Geschichte"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ka.png"
        },
        {
            short: "kw",
            gender: "w",
            email: "i.kallweit",
            name: "Dr. Kallweit",
            subjects: ["Mathe", "Chemie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/kw.png"
        },
        {
            short: "kn",
            gender: "m",
            email: "f.kan",
            name: "Kan",
            subjects: ["Tanz"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/kn.png"
        },
        {
            short: "kk",
            gender: "w",
            email: "k.kill-heimbuerger",
            name: "Kill",
            subjects: ["Deutsch", "Katholische Religion"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/kk.png"
        },
        {
            short: "km",
            gender: "w",
            email: "j.kirchmeier",
            name: "Kirchmeier",
            subjects: ["Deutsch", "Englisch"],
            ags: ["Schülerzeitung-AG", "Theater-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/km.png"
        },
        {
            short: "kg",
            gender: "w",
            email: "t.klingsch",
            name: "Klingsch",
            subjects: ["Englisch", "Biologie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/kg.png"
        },
        {
            short: "ko",
            gender: "m",
            email: "m.kohnen",
            name: "Dr. Kohnen",
            subjects: ["Biologie", "Chemie"],
            ags: ["Chemie-AG", "Jugend forscht-AG"],
            ref: false,
            img: "img/Kohnen.png"
        },
        {
            short: "kl",
            gender: "w",
            email: "s.kolip",
            name: "Kolip",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/kl.png"
        },
        {
            short: "kj",
            gender: "w",
            email: "j.krieger",
            name: "Krieger",
            subjects: ["Deutsch", "Erdkunde"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/kj.png"
        },
        {
            short: "kr",
            gender: "m",
            email: "d.krister",
            name: "Krister",
            subjects: ["Englisch", "Geschichte"],
            ags: ["Geschichts-AG"],
            ref: false,
            img: "img/Krister.png"
        },
        {
            short: "ki",
            gender: "m",
            email: "s.kucki",
            name: "Kucki",
            subjects: ["Englisch", "Sport"],
            ags: ["Schwimmen-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ki.png"
        },
        {
            short: "kp",
            gender: "w",
            email: "c.kuepper",
            name: "Küpper",
            subjects: ["Mathe", "Sport"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/kp.png"
        },
        {
            short: "ku",
            gender: "w",
            email: "m.kukuczka",
            name: "Kukuczka",
            subjects: ["Deutsch", "Katholische Religion"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ku.png"
        },
        {
            short: "la",
            gender: "m",
            email: "h.lambertz",
            name: "Lambertz",
            subjects: ["Englisch", "Erdkunde"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/la.png"
        },
        {
            short: "ls",
            gender: "w",
            email: "a.lankes",
            name: "Lankes",
            subjects: ["Mathe", "Kunst"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ls.png"
        },
        {
            short: "ln",
            gender: "m",
            email: "j.lindner",
            name: "Lindner",
            subjects: ["Mathe", "Latein"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ln.png"
        },
        {
            short: "lo",
            gender: "w",
            email: "b.lohaus",
            name: "Lohaus",
            subjects: ["Musik", "Katholische Religion"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/lo.png"
        },
        {
            short: "loi",
            gender: "m",
            email: "h.loigge",
            name: "Loigge",
            subjects: ["Tanz"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/loi.png"
        },
        {
            short: "lu",
            gender: "w",
            email: "a.luft",
            name: "Luft",
            subjects: ["Deutsch", "Französisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/lu.png"
        },
        {
            short: "na",
            gender: "w",
            email: "e.natalello",
            name: "Natalello",
            subjects: ["Spanisch", "Italienisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/na.png"
        },
        {
            short: "nd",
            gender: "w",
            email: "c.nieder",
            name: "Nieder",
            subjects: ["Latein", "Englisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/nd.png"
        },
        {
            short: "nu",
            gender: "w",
            email: "k.nusselein",
            name: "Nusselein",
            subjects: ["Deutsch", "Französisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/nu.png"
        },
        {
            short: "of",
            gender: "w",
            email: "g.offer",
            name: "Offer",
            subjects: ["Italienisch", "Deutsch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/of.png"
        },
        {
            short: "ov",
            gender: "m",
            email: "b.overbeck",
            name: "Overbeck",
            subjects: ["Erdkunde", "Sport"],
            ags: ["Sport-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ov.png"
        },
        {
            short: "ph",
            gender: "w",
            email: "r.philippsen",
            name: "Philippsen",
            subjects: ["Englisch", "Deutsch"],
            ags: ["Theater-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ph.png"
        },
        {
            short: "pi",
            gender: "w",
            email: "g.piva",
            name: "Piva",
            subjects: ["Englisch", "Geschichte"],
            ags: ["Theater-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/pi.png"
        },
        {
            short: "po",
            gender: "w",
            email: "r.pomp-khalil",
            name: "Pomp-Khalil",
            subjects: ["Tanz"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/po.png"
        },
        {
            short: "pz",
            gender: "m",
            email: "k.przybilla",
            name: "Przybilla",
            subjects: ["Biologie", "Sport"],
            ags: ["Sanitäts-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/pz.png"
        },
        {
            short: "rk",
            gender: "w",
            email: "m.ricken",
            name: "Ricken",
            subjects: ["Mathe", "Chemie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/rk.png"
        },
        {
            short: "ri",
            gender: "m",
            email: "m.rieder",
            name: "Rieder",
            subjects: ["Mathe", "Sport", "Physik"],
            ags: [],
            ref: false,
            img: "img/Rieder.png"
        },
        {
            short: "ro",
            gender: "w",
            email: "h.rhode",
            name: "Rhode",
            subjects: ["Englisch", "Sozialwissenschaften"],
            ags: ["Jura-Basics-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ro.png"
        },
        {
            short: "sb",
            gender: "w",
            email: "s.schauenburg",
            name: "Schauenburg",
            subjects: ["Tanz"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/sb.png"
        },
        {
            short: "sv",
            gender: "w",
            email: "s.scheuvens",
            name: "Scheuvens",
            subjects: ["Mathe", "Deutsch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/sv.png"
        },
        {
            short: "sr",
            gender: "w",
            email: "k.schmerler",
            name: "Schmerler",
            subjects: ["Mathe", "Sport"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/sr.png"
        },
        {
            short: "sz",
            gender: "m",
            email: "k.schmitz",
            name: "Schmitz",
            subjects: ["Mathe", "Chemie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/sz.png"
        },
        {
            short: "sö",
            gender: "w",
            email: "schoenau",
            name: "Schönau",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            ref: false,
            img: "img/Schoenau.png"
        },
        {
            short: "sc",
            gender: "w",
            email: "i.schoenemann",
            name: "Schönemann",
            subjects: ["Englisch", "Französisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/sc.png"
        },
        {
            short: "sf",
            gender: "w",
            email: "l.scholich",
            name: "Scholich",
            subjects: ["Französisch", "Geschichte"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/sf.png"
        },
        {
            short: "se",
            gender: "w",
            email: "d.schwander",
            name: "Schwander",
            subjects: ["Tanz"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/se.png"
        },
        {
            short: "sn",
            gender: "w",
            email: "s.soellner",
            name: "Söllner",
            subjects: ["Erdkunde", "Sport", "Mathe"],
            ags: [],
            ref: false,
            img: "img/Soellner.png"
        },
        {
            short: "st",
            gender: "w",
            email: "a.stahl",
            name: "Stahl",
            subjects: ["Mathe", "Biologie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/st.png"
        },
        {
            short: "sh",
            gender: "w",
            email: "a.strehl",
            name: "Dr. Strehl",
            subjects: ["Chemie", "Physik"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/sh.png"
        },
        {
            short: "tb",
            gender: "w",
            email: "u.tebart",
            name: "Tebart",
            subjects: ["Erdkunde"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/tb.png"
        },
        {
            short: "tk",
            gender: "m",
            email: "r.tekuelve",
            name: "Tekülve",
            subjects: ["Deutsch", "Erdkunde"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/tk.png"
        },
        {
            short: "tr",
            gender: "m",
            email: "h.troeger",
            name: "Tröger",
            subjects: ["Deutsch", "Chemie"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/tr.png"
        },
        {
            short: "ut",
            gender: "w",
            email: "p.unterbarnscheidt",
            name: "Unterbarnscheidt",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/ut.png"
        },
        {
            short: "uf",
            gender: "w",
            email: "t.unterfeld",
            name: "Unterfeld",
            subjects: ["Deutsch", "Geschichte"],
            ags: ["Rechtschreib-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/uf.png"
        },
        {
            short: "vo",
            gender: "m",
            email: "r.vorholt",
            name: "Vorholt",
            subjects: ["Kunst", "Philosophie", "Englisch"],
            ags: ["Video-AG"],
            ref: false,
            img: "https://api.adorable.io/avatars/200/vo.png"
        },
        {
            short: "we",
            gender: "w",
            email: "n.westphal",
            name: "Westphal",
            subjects: ["Englisch", "Sport"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/we.png"
        },
        {
            short: "wi",
            gender: "m",
            email: "h.wiesemann",
            name: "Wiesemann",
            subjects: ["Physik", "Mathe"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/wi.png"
        },
        {
            short: "wg",
            gender: "m",
            email: "j.wiggen",
            name: "Wiggen",
            subjects: ["Mathe", "Erdkunde", "Katholische Religion"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/wg.png"
        },
        {
            short: "wl",
            gender: "w",
            email: "a.wilms",
            name: "Wilms",
            subjects: ["Biologie", "Erdkunde"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/wl.png"
        },
        {
            short: "wr",
            gender: "w",
            email: "e.winkler",
            name: "Winkler",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/wr.png"
        },
        {
            short: "wt",
            gender: "w",
            email: "m.wintering",
            name: "Wintering",
            subjects: ["Deutsch", "Politik"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/wt.png"
        },
        {
            short: "wd",
            gender: "m",
            email: "c.wodopia",
            name: "Wodopia",
            subjects: ["Deutsch", "Geschichte", "Katholische Religion"],
            ags: [],
            ref: false,
            img: "https://api.adorable.io/avatars/200/wd.png"
        },
        {
            short: "be",
            gender: "m",
            email: "y.beeck",
            name: "Beeck",
            subjects: ["Informatik", "Mathe"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/be.png"
        },
        {
            short: "dm",
            gender: "w",
            email: "i.dreesmann",
            name: "Dreesmann",
            subjects: ["Biologie", "Sport"],
            ags: ["Bio-Chemie-AG"],
            ref: true,
            img: "https://api.adorable.io/avatars/200/dm.png"
        },
        {
            short: "eg",
            gender: "w",
            email: "j.elling",
            name: "Elling",
            subjects: ["Chemie", "Sport"],
            ags: ["Bio-Chemie-AG"],
            ref: true,
            img: "https://api.adorable.io/avatars/200/eg.png"
        },
        {
            short: "gi",
            gender: "m",
            email: "s.giuri",
            name: "Giuri",
            subjects: ["Italienisch", "Spanisch"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/gi.png"
        },
        {
            short: "kt",
            gender: "w",
            email: "t.kirkopoulos",
            name: "Kirkopoulos",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/kt.png"
        },
        {
            short: "mc",
            gender: "w",
            email: "m.macanovic",
            name: "Macanovic",
            subjects: ["Geschichte", "Katholische Religion"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/mc.png"
        },
        {
            short: "pa",
            gender: "w",
            email: "k.pater",
            name: "Pater",
            subjects: ["Deutsch", "Spanisch"],
            ags: ["DELE-AG", "Rechtschreib-AG"],
            ref: true,
            img: "https://api.adorable.io/avatars/200/pa.png"
        },
        {
            short: "sj",
            gender: "m",
            email: "j.schotzki",
            name: "Schotzki",
            subjects: ["Englisch", "Physik"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/sj.png"
        },
        {
            short: "sp",
            gender: "m",
            email: "p.sinkemat",
            name: "Sinkemat",
            subjects: ["Musik"],
            ags: ["Jazz-Band-AG"],
            ref: true,
            img: "https://api.adorable.io/avatars/200/sp.png"
        },
        {
            short: "wk",
            gender: "m",
            email: "k.werner",
            name: "Werner",
            subjects: ["Deutsch", "Geschichte"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/wk.png"
        },
        {
            short: "ru",
            gender: "w",
            email: "s.rusch",
            name: "Rusch",
            subjects: ["Englisch", "Geschichte"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/ru.png"
        },
        {
            short: "sl",
            gender: "w",
            email: "l.stahl",
            name: "Stahl",
            subjects: ["Französisch", "Erdkunde"],
            ags: [],
            ref: true,
            img: "https://api.adorable.io/avatars/200/sl.png"
        }
    ]

</script>

</html>

<style>
    body {
        font-family: "Helvetica", sans-serif;
        background-color: #F7F7F7;
    }

    .button {
        border: 1px solid black;
        padding: 4px;
        border-radius: 2px;
        color: white;
        text-decoration: none;
        box-shadow: 1px 1px 1px black;
        background-color: #7289DA;
    }

    input {
        padding: 5px 30px;
        width: 40%;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    hr {
        width: 50%;
    }

    .result {
        max-width: 35%;
        margin: 10px;
        padding: 5px;
    }

    .card {
        border: 1px solid grey;
        border-radius: 2px;
        box-shadow: 10px 10px 20px grey;
        max-width: 35%;
    }

    .card > .result {
        max-width: 100%;
    }

    td {
        padding: 10px 15px 13px 13px;
    }

    img {
        float: right;
        max-width: 50px;
        max-height: 50px;
		border-radius: 30%;
    }

    @media only screen and (max-width: 800px) {
        input {
            width: 75%;
        }
        .result, .card {
            margin: 5px;
            max-width: 95%;
        }
        
    }

</style>
