<!DOCTYPE html>
<html>
<head>
    <title>GEW-Lehrer-Info</title>
    <meta charset="utf-8" />
    <link rel="Icon" href="GEW.png">
    <link rel="apple-touch-icon" href="GEW.png" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="app">
        <center>
            <h2>Alle Lehrer durchsuchen</h2>
            <input v-model="input" type="text" autofocus maxlength="20" placeholder="Suche nach Name, Kürzel oder Fach" />


            <br>
            <ul>
                <li v-for="(teacher, index) in results" :key="teacher.short">
                    <teacher :class="{card: index === 0}" :teacher="teacher"></teacher>
                    <hr v-if="index > 0">
                    <br v-else>
                </li>
            </ul>

            <h3 v-if="(!results || results.length === 0) && input.length > 0">Keine Ergebnisse</h3>

            <h5>© Eric Anhalt & Jan Schnorrenberg 2019</h5>
            <a class="button" href="https://discord.gg/cBYeegX">DISCORD</a>
        </center>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                input: '',
                results: null
            }
        },
        watch: {
            input() {
                const search = this.input.toLowerCase().trim();
                this.results = this.bestResult = null;
                if (search === null || search.length === 0)
                    return;
                this.bestResult = teachers.filter(e => e.short === search || e.name.toLowerCase() === search)[0];
                this.results = teachers.filter(e =>
                    e.short === search
                    || e.name.toLowerCase().indexOf(search) > -1
                    || e.subjects.filter(s => s.toLowerCase() === search).length > 0
                    || e.ags.filter(s => s.toLowerCase() === search).length > 0
                )
                this.results.sort((o, t) => {
                    if (o.short === search)
                        return -1;
                    else if (t.short === search)
                        return 1;
                    return 0;
                })
            }
        }
    });

    Vue.component('teacher', {
        props: ['teacher'],
        template: `
        <div v-if="teacher" class="result">   
                <img v-if="teacher.pic" :src="'img/' + teacher.short + '.png'"/>
                <img v-else :src="'img/' + teacher.gender + '.svg'" />
            <table>
            <tr>
                <td><b>Kürzel</b></td>
                <td>{{ teacher.short.toUpperCase() }}</td>
                
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td>{{ teacher.gender === 'm' ? 'Herr' : 'Frau' }} {{ teacher.name }} <span v-if="teacher.ref">(Referendar)</span></td>
            </tr>
            <tr>
                <td><b>Unterrichtet</b></td>
                <td>{{ teacher.subjects.join(', ') }}</td>
            </tr>
            <tr v-if="teacher.ags.length > 0">
                <td><b>AGs</b></td>
                <td>{{ teacher.ags.join(', ') }}</td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td><a :href="'mailto:' + teacher.email + '@gymnasium-essen-werden.de'">{{ teacher.email }}</a></td>
            </tr>
            </table>
        </div>`
    });

    const teachers = [
        {
            short: "al",
            gender: "m",
            email: "m.albrecht",
            name: "Michael Albrecht",
            subjects: ["Informatik", "Chemie"],
            ags: ["Informatik-AG"],
            pic: true
        },
        {
            short: "au",
            gender: "m",
            email: "h.augustin",
            name: "Helge Augustin",
            subjects: ["Deutsch", "Geschichte", "Spanisch"],
            ags: ["Literatur-AG"]
        },
        {
            short: "ba",
            gender: "w",
            email: "c.bach",
            name: "Christine Bach",
            subjects: ["Deutsch", "Erdkunde"],
            ags: []
        },
        {
            short: "bd",
            gender: "w",
            email: "c.badiou",
            name: "Claire Badiou",
            subjects: ["Latein", "Französisch"],
            ags: []
        },
        {
            short: "be",
            gender: "m",
            email: "y.beeck",
            name: "Yannick Beeck",
            subjects: ["Informatik", "Mathe"],
            ags: [],
            pic: true
        },
        {
            short: "bf",
            gender: "m",
            email: "s.bergerhoff",
            name: "Stephan Bergerhoff",
            subjects: ["Physik", "Biologie"],
            ags: []
        },
        {
            short: "bg",
            gender: "w",
            email: "n.berg-rose",
            name: "Nicola Berg-Rose",
            subjects: ["Deutsch", "Englisch", "Praktische Philosophie"],
            ags: []
        },
        {
            short: "bl",
            gender: "m",
            email: "u.blech",
            name: "Ulrich Blech",
            subjects: ["Physik", "Evangelische Religion"],
            ags: ["Astronomie-AG"]
        },
        {
            short: "bo",
            gender: "m",
            email: "n.bonnekessel",
            name: "Niklas Bonnekessel",
            subjects: ["Sport", "Latein"],
            ags: ["Fußball-AG"]
        },
        {
            short: "bz",
            gender: "w",
            email: "i.buchholz",
            name: "Inga Buchholz",
            subjects: ["Chemie", "Kunst"],
            ags: []
        },
        {
            short: "bj",
            gender: "m",
            email: "j.buhr",
            name: "Dr. Jan Buhr",
            subjects: ["Deutsch", "Musik"],
            ags: ["Orchester-AG"],
            pic: true
        },
        {
            short: "mb",
            gender: "w",
            email: "m.buhr",
            name: "Miriam Buhr",
            subjects: ["Englisch", "Spanisch"],
            ags: []
        },
        {
            short: "bu",
            gender: "m",
            email: "a.busse",
            name: "Dr. Alexander Busse",
            subjects: ["Physik", "Philosophie"],
            ags: ["Bühnentechnik-AG", "Jugend forscht-AG"],
            pic: true
        },
        {
            short: "co",
            gender: "w",
            email: "n.colesie",
            name: "Nora Colesie",
            subjects: ["Französisch", "Geschichte"],
            ags: []
        },
        {
            short: "di",
            gender: "w",
            email: "a.dittmann",
            name: "Anna Dittmann",
            subjects: ["Italienisch", "Deutsch"],
            ags: []
        },
        {
            short: "do",
            gender: "w",
            email: "a.dornebeck",
            name: "Anke Dornebeck",
            subjects: ["Deutsch", "Erdkunde"],
            ags: ["Freiwilliges Sozialpraktikum"]
        },
        {
            short: "dm",
            gender: "w",
            email: "i.dreesmann",
            name: "Isabelle Dreesmann",
            subjects: ["Biologie", "Sport"],
            ags: []
        },
        {
            short: "ec",
            gender: "m",
            email: "t.eickmann",
            name: "Torsten Eickmann",
            subjects: ["Mathe", "Englisch"],
            ags: []
        },
        {
            short: "ed",
            gender: "m",
            email: "n.eldesouki",
            name: "Nour Saad Eldesouki",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "el",
            gender: "m",
            email: "m.ellenbruch",
            name: "Martin Ellenbruch",
            subjects: ["Englisch", "Kunst"],
            ags: ["Bühnenbild-AG", "Rock- und Popmusik AG"]
        },
        {
            short: "en",
            gender: "m",
            email: "c.enk",
            name: "Carsten Enk",
            subjects: ["Mathe", "Erdkunde"],
            ags: []
        },
        {
            short: "er",
            gender: "w",
            email: "z.ernst",
            name: "Zoë-Marie Ernst",
            subjects: ["Musik"],
            ags: ["Chor-AG", "Kammerchor"]
        },
        {
            short: "gm",
            gender: "m",
            email: "r.gemein",
            name: "Ralf Gemein",
            subjects: ["Englisch", "Kunst"],
            ags: []
        },
        {
            short: "go",
            gender: "w",
            email: "a.gollan",
            name: "Alexandra Gollan",
            subjects: ["Kunst"],
            ags: []
        },
        {
            short: "gr",
            gender: "m",
            email: "s.grote",
            name: "Stephan Grote",
            subjects: ["Physik", "Mathe"],
            ags: []
        },
        {
            short: "ha",
            gender: "m",
            name: "Friedrich Haase",
            subjects: ["Geschichte", "Katholische Religion"],
            ags: []
        },
        {
            short: "he",
            gender: "w",
            email: "m.heller",
            name: "Meike Heller-Berendes",
            subjects: ["Biologie", "Deutsch"],
            ags: []
        },
        {
            short: "hc",
            gender: "m",
            email: "c.hengstermann",
            name: "Dr. Christian Hengstermann",
            subjects: ["Latein", "Englisch", "Katholische Religion", "Praktische Philosophie"],
            ags: ["Religion/Philosophie bilingual-AG", "Altgriechisch-AG"]
        },
        {
            short: "hm",
            gender: "w",
            email: "c.hermey",
            name: "Christina Hermey",
            subjects: ["Englisch", "Biologie"],
            ags: []
        },
        {
            short: "hy",
            gender: "m",
            email: "m.hermey",
            name: "Markus Hermey",
            subjects: ["Biologie", "Sport", "Mathe"],
            ags: [],
            pic: true
        },
        {
            short: "hi",
            gender: "m",
            email: "t.hinz",
            name: "Thomas Hinz",
            subjects: ["Französisch", "Musik"],
            ags: ["Chor-AG", "Orchester-AG"]
        },
        {
            short: "hp",
            gender: "w",
            email: "c.hoerentrup",
            name: "Carola Hörentrup",
            subjects: ["Deutsch", "Evangelische Religion"],
            ags: []
        },
        {
            short: "ho",
            gender: "m",
            email: "j.hoerentrup",
            name: "Jens Hörentrup",
            subjects: ["Mathe", "Chemie"],
            ags: []
        },
        {
            short: "ju",
            gender: "m",
            email: "r.jungblut",
            name: "Rainer Jungblut",
            subjects: ["Sport", "Politik"],
            ags: ["Tischtennis-AG"]
        },
        {
            short: "ka",
            gender: "w",
            email: "l.kalb",
            name: "Lisa Kalb",
            subjects: ["Französisch", "Geschichte"],
            ags: [],
            pic: true
        },
        {
            short: "kw",
            gender: "w",
            email: "i.kallweit",
            name: "Dr. Inga Kallweit",
            subjects: ["Mathe", "Chemie"],
            ags: []
        },
        {
            short: "kn",
            gender: "m",
            email: "f.kan",
            name: "Françoise Kan",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "kk",
            gender: "w",
            email: "k.kill-heimbuerger",
            name: "Kristina Kill-Heimbürger",
            subjects: ["Deutsch", "Katholische Religion"],
            ags: []
        },
        {
            short: "km",
            gender: "w",
            email: "j.kirchmeier",
            name: "Jeanette Kirchmeier",
            subjects: ["Deutsch", "Englisch"],
            ags: ["Schülerzeitung-AG", "Theater-AG", "Rechtschreib-AG"],
            pic: true
        },
        {
            short: "kg",
            gender: "w",
            email: "t.klingsch",
            name: "Nga-Ting Klingsch",
            subjects: ["Englisch", "Biologie"],
            ags: []
        },
        {
            short: "ko",
            gender: "m",
            email: "m.kohnen",
            name: "Dr. Marcus Kohnen",
            subjects: ["Biologie", "Chemie"],
            ags: ["Chemie-AG", "Jugend forscht-AG"],
            pic: true
        },
        {
            short: "kl",
            gender: "w",
            email: "s.kolip",
            name: "Sandra Kolip",
            subjects: ["Deutsch", "Englisch"],
            ags: ["Rechtschreib-AG"]
        },
        {
            short: "kj",
            gender: "w",
            email: "j.krieger",
            name: "Janet Krieger",
            subjects: ["Deutsch", "Erdkunde"],
            ags: []
        },
        {
            short: "ks",
            gender: "w",
            email: "c.krings",
            name: "Christina Krings",
            subjects: ["Sozialwissenschaften", "Spanisch"],
            ags: ["Europa AG"]
        },
        {
            short: "kr",
            gender: "m",
            email: "d.krister",
            name: "Dominik Krister",
            subjects: ["Englisch", "Geschichte"],
            ags: ["Geschichts-AG"],
            pic: true
        },
        {
            short: "ki",
            gender: "m",
            email: "s.kucki",
            name: "Sven Kucki",
            subjects: ["Englisch", "Sport"],
            ags: ["Schwimmen-AG"]
        },
        {
            short: "kp",
            gender: "w",
            email: "c.kuepper",
            name: "Cornelia Küpper",
            subjects: ["Mathe", "Sport"],
            ags: []
        },
        {
            short: "ku",
            gender: "w",
            email: "m.kukuczka",
            name: "Maria Kukuczka",
            subjects: ["Deutsch", "Katholische Religion"],
            ags: []
        },
        {
            short: "la",
            gender: "w",
            email: "k.labermeier",
            name: "Katharina Labermeier",
            subjects: ["Biologie", "English Theatre Club"],
            ags: []
        },
        {
            short: "ls",
            gender: "w",
            email: "a.lankes",
            name: "Anca Lankes",
            subjects: ["Mathe", "Kunst"],
            ags: []
        },
        {
            short: "ln",
            gender: "m",
            email: "j.lindner",
            name: "Jörg Lindner",
            subjects: ["Mathe", "Latein"],
            ags: []
        },
        {
            short: "lo",
            gender: "w",
            email: "b.lohaus",
            name: "Barbara Lohaus",
            subjects: ["Musik", "Katholische Religion"],
            ags: []
        },
        {
            short: "loi",
            gender: "m",
            email: "h.loigge",
            name: "Heinz Loigge",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "lu",
            gender: "w",
            email: "a.luft",
            name: "Anita Luft",
            subjects: ["Deutsch", "Französisch"],
            ags: []
        },
        {
            short: "mh",
            gender: "w",
            email: "i.markham",
            name: "Ilka Markham",
            subjects: ["Englisch", "Französisch"],
            ags: []
        },
        {
            short: "na",
            gender: "w",
            email: "e.natalello",
            name: "Elena Natalello",
            subjects: ["Spanisch", "Italienisch"],
            ags: []
        },
        {
            short: "nd",
            gender: "w",
            email: "c.nieder",
            name: "Cathleen Nieder",
            subjects: ["Latein", "Englisch"],
            ags: []
        },
        {
            short: "nu",
            gender: "w",
            email: "k.nusselein",
            name: "Kathrin Nusselein",
            subjects: ["Deutsch", "Französisch"],
            ags: []
        },
        {
            short: "ov",
            gender: "m",
            email: "b.overbeck",
            name: "Benjamin Overbeck",
            subjects: ["Erdkunde", "Sport"],
            ags: ["Sport-AG"]
		},
        {
            short: "pa",
            gender: "w",
            email: "k.pater",
            name: "Katharina Pater",
            subjects: ["Deutsch", "Französisch"],
            ags: ["DELE"]
        },
        {
            short: "ph",
            gender: "w",
            email: "r.philippsen",
            name: "Rebecca Philippsen",
            subjects: ["Englisch", "Deutsch"],
            ags: ["Theater-AG", "Nähen"]
        },
        {
            short: "pi",
            gender: "w",
            email: "g.piva",
            name: "Gianna Piva",
            subjects: ["Englisch", "Geschichte"],
            ags: ["Theater-AG"]
        },
        {
            short: "po",
            gender: "w",
            email: "r.pomp-khalil",
            name: "Renate Pomp-Khalil",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "pz",
            gender: "m",
            email: "k.przybilla",
            name: "Klaus Przybilla",
            subjects: ["Biologie", "Sport"],
            ags: ["Sanitäts-AG"],
            pic: true
        },
        {
            short: "ri",
            gender: "m",
            email: "m.rieder",
            name: "Michael Rieder",
            subjects: ["Mathe", "Sport", "Physik"],
            ags: [],
            pic: true
        },
        {
            short: "ro",
            gender: "w",
            email: "h.rohde",
            name: "Henrieke Rohde",
            subjects: ["Englisch", "Sozialwissenschaften"],
            ags: ["Europa AG", "Politik Projekt"]
        },
        {
            short: "ru",
            gender: "w",
            email: "s.rusch",
            name: "Svenja Rusch",
            subjects: ["English Theatre Club", "Geschichte"],
            ags: []
        },
        {
            short: "sb",
            gender: "w",
            email: "s.schauenburg",
            name: "Simone Schauenburg",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "sv",
            gender: "w",
            email: "s.scheuvens",
            name: "Sarah Scheuvens",
            subjects: ["Mathe", "Deutsch"],
            ags: []
        },
        {
            short: "sr",
            gender: "w",
            email: "k.schmerler",
            name: "Katharina Schmerler",
            subjects: ["Mathe", "Sport"],
            ags: []
        },
        {
            short: "sz",
            gender: "m",
            email: "k.schmitz",
            name: "Klaus Schmitz",
            subjects: ["Mathe", "Chemie"],
            ags: []
        },
        {
            short: "sö",
            gender: "w",
            email: "schoenau",
            name: "Felicitas Schönau",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            pic: true
        },
        {
            short: "sf",
            gender: "w",
            email: "l.scholich",
            name: "Lena Scholich",
            subjects: ["Französisch", "Geschichte"],
            ags: []
        },
        {
            short: "sj",
            gender: "m",
            email: "j.schotzki",
            name: "Jan Schotzki",
            subjects: ["Englisch", "Physik"],
            ags: []
        },
        {
            short: "sn",
            gender: "w",
            email: "s.soellner",
            name: "Susanne Söllner",
            subjects: ["Erdkunde", "Sport", "Mathe"],
            ags: [],
            pic: true
        },
        {
            short: "st",
            gender: "w",
            email: "a.stahl",
            name: "Adrianne Stahl",
            subjects: ["Mathe", "Biologie"],
            ags: []
        },
        {
            short: "sh",
            gender: "w",
            email: "a.strehl",
            name: "Dr. Anja Strehl",
            subjects: ["Chemie", "Physik"],
            ags: []
        },
        {
            short: "tr",
            gender: "m",
            email: "h.troeger",
            name: "Holger Tröger",
            subjects: ["Deutsch", "Chemie"],
            ags: ["Rechtschreib-AG"]
        },
        {
            short: "uf",
            gender: "w",
            email: "t.unterfeld",
            name: "Tina Unterfeld",
            subjects: ["Deutsch", "Geschichte"],
            ags: ["Rechtschreib-AG"]
        },
        {
            short: "vo",
            gender: "m",
            email: "r.vorholt",
            name: "René Vorholt",
            subjects: ["Kunst", "Philosophie", "Englisch"],
            ags: ["Video-AG", "Trackmania-Ag"]
        },
        {
            short: "we",
            gender: "w",
            email: "n.westphal",
            name: "Nicole Westphal",
            subjects: ["Englisch", "Sport"],
            ags: []
        },
        {
            short: "wl",
            gender: "w",
            email: "a.wilms",
            name: "Annette Wilms",
            subjects: ["Biologie", "Erdkunde"],
            ags: []
        },
        {
            short: "wr",
            gender: "w",
            email: "e.winkler",
            name: "Erika Winkler",
            subjects: ["Deutsch", "Englisch"],
            ags: []
        },
        {
            short: "wd",
            gender: "m",
            email: "c.wodopia",
            name: "Christopher Wodopia",
            subjects: ["Deutsch", "Geschichte", "Katholische Religion"],
            ags: [],
            pic: true
        },
        {
            short: "kt",
            gender: "w",
            email: "j.koppert",
            name: "Jasmin Koppert",
            subjects: ["Deutsch", "Geschichte"],
            ags: []
        },
        {
            short: "kh",
            gender: "m",
            email: "m.kraushaar",
            name: "Mario Kraushaar",
            subjects: ["Deutsch als Zweitsprache"],
            ags: []
        },
        {
            short: "se",
            gender: "w",
            email: "d.schwander",
            name: "Daniele Schwander",
            subjects: ["Tanz"],
            ags: []
        },		
		{
            short: "sm",
            gender: "w",
            email: "g.steinmann",
            name: "Gerlinde Steinmann",
            subjects: ["Evangelische Religion"],
            ags: []
        },	
		{
            short: "ve",
            gender: "m",
            email: "m.verwaal",
            name: "Marc Verwaal",
            subjects: ["Musik"],
            ags: []
        },	
        {
            short: "kam",
            gender: "w",
            email: "l.kampen",
            name: "Lisa van Kampen",
            subjects: ["Englisch", "Italienisch"],
            ags: [],
            ref: true
        },
        {
            short: "kis",
            gender: "m",
            email: "f.kiseier",
            name: "Fabian Kiseier",
            subjects: ["Mathe", "Sport"],
            ags: [],
            ref: true
        },
        {
            short: "min",
            gender: "w",
            email: "s.mingolet",
            name: "Simone Mingolet",
            subjects: ["Evangelische Religion", "Spanisch"],
            ags: [],
            ref: true
        },
        {
            short: "rei",
            gender: "w",
            email: "n.reintges",
            name: "Nina Reintges",
            subjects: ["Deutsch", "Geschichte"],
            ags: ["Latein Nachhilfe"],
            ref: true
        },
        {
            short: "sch",
            gender: "m",
            email: "s.schlag",
            name: "Sebastian Schlag",
            subjects: ["Deutsch", "Biologie"],
            ags: ["Foto-AG"],
            ref: true
        },
        {
            short: "sie",
            gender: "w",
            email: "l.siepmann",
            name: "Lydia Siepmann",
            subjects: ["Geschichte", "Katholische Religion"],
            ags: [],
            ref: true
        },
    ]

</script>

</html>

<style>
    body {
        font-family: "Helvetica", sans-serif;
        background-color: #F7F7F7;
    }

    .button {
        border: 1px solid black;
        padding: 4px;
        border-radius: 2px;
        color: white;
        text-decoration: none;
        box-shadow: 1px 1px 1px black;
        background-color: #7289DA;
    }

    input {
        padding: 10px 30px;
        width: 40%;
        border: none;
        outline: none;
        flex: 100%;
        box-shadow: 2px 2px 4px 1px #999
    }

    ul {
        list-style: none;
        padding: 0;
    }

    hr {
        width: 50%;
    }

    .result {
        max-width: 35%;
        margin: 10px;
        padding: 5px;
    }

    .card {
        border: 1px solid grey;
        border-radius: 2px;
        box-shadow: 7px 7px 6px grey;
        max-width: 35%;
    }

    .card>.result {
        max-width: 100%;
    }

    td {
        padding: 10px 15px 13px 13px;
    }

    img {
        float: right;
        max-width: 50px;
        max-height: 50px;
        border-radius: 30%;
    }

    @media only screen and (max-width: 800px) {
        input {
            width: 75%;
        }

        .result,
        .card {
            margin: 5px;
            max-width: 95%;
        }

    }
</style>
