<!DOCTYPE html>
<html>
<head>
    <title>GEW-Lehrer-Info</title>
    <meta charset="utf-8" />
    <link rel="Icon" href="GEW.png">
    <link rel="apple-touch-icon" href="GEW.png" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="app">
        <center>
            <h2>Alle Lehrer durchsuchen</h2>
            <input v-model="input" type="text" maxlength="20" placeholder="Suche nach Name, Kürzel oder Fach" />


            <br>
            <ul>
                <li v-for="(teacher, index) in results" :key="teacher.short">
                    <teacher :class="{card: index === 0}" :teacher="teacher"></teacher>
                    <hr v-if="index > 0">
                    <br v-else>
                </li>
            </ul>

            <h3 v-if="(!results || results.length === 0) && input.length > 0">Keine Ergebnisse</h3>

            <h5>© Eric Anhalt & Jan Schnorrenberg 2019</h5>
            <a class="button" href="https://discord.gg/cBYeegX">DISCORD</a>
        </center>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                input: '',
                results: null
            }
        },
        watch: {
            input() {
                const search = this.input.toLowerCase().trim();
                this.results = this.bestResult = null;
                if (search === null || search.length === 0)
                    return;
                this.bestResult = teachers.filter(e => e.short === search || e.name.toLowerCase() === search)[0];
                this.results = teachers.filter(e =>
                    e.short === search
                    || e.name.toLowerCase().indexOf(search) > -1
                    || e.subjects.filter(s => s.toLowerCase() === search).length > 0
                    || e.ags.filter(s => s.toLowerCase() === search).length > 0
                )
                this.results.sort((o, t) => {
                    if (o.short === search)
                        return -1;
                    else if (t.short === search)
                        return 1;
                    return 0;
                })
            }
        }
    });

    Vue.component('teacher', {
        props: ['teacher'],
        template: `
        <div v-if="teacher" class="result">   
                <img v-if="teacher.pic" :src="'img/' + teacher.short + '.png'"/>
                <img v-else :src="'img/' + teacher.gender + '.svg'" />
            <table>
            <tr>
                <td><b>Kürzel</b></td>
                <td>{{ teacher.short.toUpperCase() }}</td>
                
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td>{{ teacher.gender === 'm' ? 'Herr' : 'Frau' }} {{ teacher.name }} <span v-if="teacher.ref">(Referendar)</span></td>
            </tr>
            <tr>
                <td><b>Unterrichtet</b></td>
                <td>{{ teacher.subjects.join(', ') }}</td>
            </tr>
            <tr v-if="teacher.ags.length > 0">
                <td><b>AGs</b></td>
                <td>{{ teacher.ags.join(', ') }}</td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td><a :href="'mailto:' + teacher.email + '@gymnasium-essen-werden.de'">{{ teacher.email }}</a></td>
            </tr>
            </table>
        </div>`
    });

    const teachers = [
        {
            short: "al",
            gender: "m",
            email: "m.albrecht",
            name: "Albrecht",
            subjects: ["Informatik", "Chemie"],
            ags: ["Informatik-AG"],
            pic: true
        },
        {
            short: "an",
            gender: "w",
            email: "a.augustin",
            name: "Augustin",
            subjects: ["Evangelische Religion"],
            ags: [],
            ref: true
        },
        {
            short: "au",
            gender: "m",
            email: "h.augustin",
            name: "Augustin",
            subjects: ["Deutsch", "Geschichte", "Spanisch"],
            ags: ["Poetry Slam-AG"]
        },
        {
            short: "ba",
            gender: "w",
            email: "c.bach",
            name: "Bach",
            subjects: ["Deutsch", "Erdkunde"],
            ags: []
        },
        {
            short: "bd",
            gender: "w",
            email: "c.badiou",
            name: "Badiou",
            subjects: ["Latein", "Französisch"],
            ags: []
        },
        {
            short: "bf",
            gender: "m",
            email: "s.bergerhoff",
            name: "Bergerhoff",
            subjects: ["Physik", "Biologie"],
            ags: []
        },
        {
            short: "bg",
            gender: "w",
            email: "n.berg-rose",
            name: "Berg-Rose",
            subjects: ["Deutsch", "Englisch", "Praktische Philosophie"],
            ags: []
        },
        {
            short: "bl",
            gender: "m",
            email: "u.blech",
            name: "Blech",
            subjects: ["Physik", "Evangelische Religion"],
            ags: ["Astronomie-AG"]
        },
        {
            short: "bo",
            gender: "m",
            email: "n.bonnekessel",
            name: "Bonnekessel",
            subjects: ["Sport", "Latein"],
            ags: ["Fußball-AG"]
        },
        {
            short: "bs",
            gender: "w",
            email: "h.bosset",
            name: "Bosset",
            subjects: ["Englisch", "Kunst"],
            ags: [],
            pic: true
        },
        {
            short: "br",
            gender: "m",
            email: "k.brill",
            name: "Brill",
            subjects: ["Deutsch", "Englisch"],
            ags: []
        },
        {
            short: "bz",
            gender: "w",
            email: "i.buchholz",
            name: "Buchholz",
            subjects: ["Chemie", "Kunst"],
            ags: []
        },
        {
            short: "bj",
            gender: "m",
            email: "j.buhr",
            name: "Dr. Buhr",
            subjects: ["Deutsch", "Musik"],
            ags: ["Orchester-AG"],
            pic: true
        },
        {
            short: "mb",
            gender: "w",
            email: "m.buhr",
            name: "Buhr",
            subjects: ["Englisch", "Spanisch"],
            ags: []
        },
        {
            short: "bu",
            gender: "m",
            email: "a.busse",
            name: "Dr. Busse",
            subjects: ["Physik", "Philosophie"],
            ags: ["Bühnentechnik-AG", "Jugend forscht-AG"],
            pic: true
        },
        {
            short: "co",
            gender: "w",
            email: "n.colesie",
            name: "Colesie",
            subjects: ["Französisch", "Geschichte"],
            ags: []
        },
        {
            short: "di",
            gender: "w",
            email: "a.dittmann",
            name: "Dittmann",
            subjects: ["Italienisch", "Deutsch"],
            ags: []
        },
        {
            short: "do",
            gender: "w",
            email: "a.dornebeck",
            name: "Dornebeck",
            subjects: ["Deutsch", "Erdkunde"],
            ags: []
        },
        {
            short: "du",
            gender: "m",
            email: "g.duecker",
            name: "Dücker",
            subjects: ["Musik"],
            ags: []
        },
        {
            short: "ec",
            gender: "m",
            email: "t.eickmann",
            name: "Eickmann",
            subjects: ["Mathe", "Englisch"],
            ags: []
        },
        {
            short: "ed",
            gender: "m",
            email: "n.eldesouki",
            name: "Eldesouki",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "el",
            gender: "m",
            email: "m.ellenbruch",
            name: "Ellenbruch",
            subjects: ["Englisch", "Kunst"],
            ags: ["Bühnenbild-AG", "Rock- und Popmusik AG"]
        },
        {
            short: "en",
            gender: "m",
            email: "c.enk",
            name: "Enk",
            subjects: ["Mathe", "Erdkunde"],
            ags: []
        },
        {
            short: "er",
            gender: "w",
            email: "z.ernst",
            name: "Ernst",
            subjects: ["Musik"],
            ags: ["Chor-AG"]
        },
        {
            short: "gm",
            gender: "m",
            email: "r.gemein",
            name: "Gemein",
            subjects: ["Englisch", "Kunst"],
            ags: []
        },
        {
            short: "go",
            gender: "w",
            email: "a.gollan",
            name: "Gollan",
            subjects: ["Kunst"],
            ags: []
        },
        {
            short: "gr",
            gender: "m",
            email: "s.grote",
            name: "Grote",
            subjects: ["Physik", "Mathe"],
            ags: []
        },
        {
            short: "ha",
            gender: "m",
            email: "r.haase",
            name: "Haase",
            subjects: ["Biologie", "Sozialwissenschaften"],
            ags: []
        },
        {
            short: "he",
            gender: "w",
            email: "m.heller-berendes",
            name: "Heller",
            subjects: ["Biologie", "Deutsch"],
            ags: []
        },
        {
            short: "hc",
            gender: "m",
            email: "c.hengstermann",
            name: "Hengstermann",
            subjects: ["Latein", "Englisch", "Katholische Religion", "Praktische Philosophie"],
            ags: ["Religion/Philosophie bilingual-AG", "Altgriechisch-AG"]
        },
        {
            short: "hm",
            gender: "w",
            email: "c.hermey",
            name: "Hermey",
            subjects: ["Englisch", "Biologie"],
            ags: []
        },
        {
            short: "hy",
            gender: "m",
            email: "m.hermey",
            name: "Hermey",
            subjects: ["Biologie", "Sport", "Mathe"],
            ags: [],
            pic: true
        },
        {
            short: "hi",
            gender: "m",
            email: "t.hinz",
            name: "Hinz",
            subjects: ["Französisch", "Musik"],
            ags: ["Chor-AG", "Orchester-AG"]
        },
        {
            short: "hp",
            gender: "w",
            email: "c.hoerentrup",
            name: "Hörentrup",
            subjects: ["Deutsch", "Evangelische Religion"],
            ags: []
        },
        {
            short: "ho",
            gender: "m",
            email: "j.hoerentrup",
            name: "Hörentrup",
            subjects: ["Mathe", "Chemie"],
            ags: []
        },
        {
            short: "ja",
            gender: "w",
            email: "c.jacobs-neumann",
            name: "Jacobs-Neumann",
            subjects: ["Erdkunde", "Politik"],
            ags: []
        },
        {
            short: "ju",
            gender: "m",
            email: "r.jungblut",
            name: "Jungblut",
            subjects: ["Sport", "Politik"],
            ags: []
        },
        {
            short: "ka",
            gender: "w",
            email: "l.kalb",
            name: "Kalb",
            subjects: ["Französisch", "Geschichte"],
            ags: []
        },
        {
            short: "kw",
            gender: "w",
            email: "i.kallweit",
            name: "Dr. Kallweit",
            subjects: ["Mathe", "Chemie"],
            ags: []
        },
        {
            short: "kn",
            gender: "m",
            email: "f.kan",
            name: "Kan",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "kk",
            gender: "w",
            email: "k.kill-heimbuerger",
            name: "Kill",
            subjects: ["Deutsch", "Katholische Religion"],
            ags: []
        },
        {
            short: "km",
            gender: "w",
            email: "j.kirchmeier",
            name: "Kirchmeier",
            subjects: ["Deutsch", "Englisch"],
            ags: ["Schülerzeitung-AG", "Theater-AG"],
            pic: true
        },
        {
            short: "kg",
            gender: "w",
            email: "t.klingsch",
            name: "Klingsch",
            subjects: ["Englisch", "Biologie"],
            ags: []
        },
        {
            short: "ko",
            gender: "m",
            email: "m.kohnen",
            name: "Dr. Kohnen",
            subjects: ["Biologie", "Chemie"],
            ags: ["Chemie-AG", "Jugend forscht-AG"],
            pic: true
        },
        {
            short: "kl",
            gender: "w",
            email: "s.kolip",
            name: "Kolip",
            subjects: ["Deutsch", "Englisch"],
            ags: []
        },
        {
            short: "kj",
            gender: "w",
            email: "j.krieger",
            name: "Krieger",
            subjects: ["Deutsch", "Erdkunde"],
            ags: []
        },
        {
            short: "kr",
            gender: "m",
            email: "d.krister",
            name: "Krister",
            subjects: ["Englisch", "Geschichte"],
            ags: ["Geschichts-AG"],
            pic: true
        },
        {
            short: "ki",
            gender: "m",
            email: "s.kucki",
            name: "Kucki",
            subjects: ["Englisch", "Sport"],
            ags: ["Schwimmen-AG"]
        },
        {
            short: "kp",
            gender: "w",
            email: "c.kuepper",
            name: "Küpper",
            subjects: ["Mathe", "Sport"],
            ags: []
        },
        {
            short: "ku",
            gender: "w",
            email: "m.kukuczka",
            name: "Kukuczka",
            subjects: ["Deutsch", "Katholische Religion"],
            ags: []
        },
        {
            short: "la",
            gender: "m",
            email: "h.lambertz",
            name: "Lambertz",
            subjects: ["Englisch", "Erdkunde"],
            ags: []
        },
        {
            short: "ls",
            gender: "w",
            email: "a.lankes",
            name: "Lankes",
            subjects: ["Mathe", "Kunst"],
            ags: []
        },
        {
            short: "ln",
            gender: "m",
            email: "j.lindner",
            name: "Lindner",
            subjects: ["Mathe", "Latein"],
            ags: []
        },
        {
            short: "lo",
            gender: "w",
            email: "b.lohaus",
            name: "Lohaus",
            subjects: ["Musik", "Katholische Religion"],
            ags: []
        },
        {
            short: "loi",
            gender: "m",
            email: "h.loigge",
            name: "Loigge",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "lu",
            gender: "w",
            email: "a.luft",
            name: "Luft",
            subjects: ["Deutsch", "Französisch"],
            ags: []
        },
        {
            short: "na",
            gender: "w",
            email: "e.natalello",
            name: "Natalello",
            subjects: ["Spanisch", "Italienisch"],
            ags: []
        },
        {
            short: "nd",
            gender: "w",
            email: "c.nieder",
            name: "Nieder",
            subjects: ["Latein", "Englisch"],
            ags: []
        },
        {
            short: "nu",
            gender: "w",
            email: "k.nusselein",
            name: "Nusselein",
            subjects: ["Deutsch", "Französisch"],
            ags: []
        },
        {
            short: "of",
            gender: "w",
            email: "g.offer",
            name: "Offer",
            subjects: ["Italienisch", "Deutsch"],
            ags: []
        },
        {
            short: "ov",
            gender: "m",
            email: "b.overbeck",
            name: "Overbeck",
            subjects: ["Erdkunde", "Sport"],
            ags: ["Sport-AG"]
        },
        {
            short: "ph",
            gender: "w",
            email: "r.philippsen",
            name: "Philippsen",
            subjects: ["Englisch", "Deutsch"],
            ags: ["Theater-AG"]
        },
        {
            short: "pi",
            gender: "w",
            email: "g.piva",
            name: "Piva",
            subjects: ["Englisch", "Geschichte"],
            ags: ["Theater-AG"]
        },
        {
            short: "po",
            gender: "w",
            email: "r.pomp-khalil",
            name: "Pomp-Khalil",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "pz",
            gender: "m",
            email: "k.przybilla",
            name: "Przybilla",
            subjects: ["Biologie", "Sport"],
            ags: ["Sanitäts-AG"],
            pic: true
        },
        {
            short: "rk",
            gender: "w",
            email: "m.ricken",
            name: "Ricken",
            subjects: ["Mathe", "Chemie"],
            ags: []
        },
        {
            short: "ri",
            gender: "m",
            email: "m.rieder",
            name: "Rieder",
            subjects: ["Mathe", "Sport", "Physik"],
            ags: [],
            pic: true
        },
        {
            short: "ro",
            gender: "w",
            email: "h.rhode",
            name: "Rhode",
            subjects: ["Englisch", "Sozialwissenschaften"],
            ags: ["Jura-Basics-AG"]
        },
        {
            short: "sb",
            gender: "w",
            email: "s.schauenburg",
            name: "Schauenburg",
            subjects: ["Tanz"],
            ags: []
        },
        {
            short: "sv",
            gender: "w",
            email: "s.scheuvens",
            name: "Scheuvens",
            subjects: ["Mathe", "Deutsch"],
            ags: []
        },
        {
            short: "sr",
            gender: "w",
            email: "k.schmerler",
            name: "Schmerler",
            subjects: ["Mathe", "Sport"],
            ags: []
        },
        {
            short: "sz",
            gender: "m",
            email: "k.schmitz",
            name: "Schmitz",
            subjects: ["Mathe", "Chemie"],
            ags: []
        },
        {
            short: "sö",
            gender: "w",
            email: "schoenau",
            name: "Schönau",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            pic: true
        },
        {
            short: "sc",
            gender: "w",
            email: "i.schoenemann",
            name: "Schönemann",
            subjects: ["Englisch", "Französisch"],
            ags: []
        },
        {
            short: "sf",
            gender: "w",
            email: "l.scholich",
            name: "Scholich",
            subjects: ["Französisch", "Geschichte"],
            ags: []
        },
        {
            short: "se",
            gender: "w",
            email: "d.schwander",
            name: "Schwander",
            subjects: ["Tanz"],
            ags: [],
            ref: true
        },
        {
            short: "sn",
            gender: "w",
            email: "s.soellner",
            name: "Söllner",
            subjects: ["Erdkunde", "Sport", "Mathe"],
            ags: [],
            pic: true
        },
        {
            short: "st",
            gender: "w",
            email: "a.stahl",
            name: "Stahl",
            subjects: ["Mathe", "Biologie"],
            ags: []
        },
        {
            short: "sh",
            gender: "w",
            email: "a.strehl",
            name: "Dr. Strehl",
            subjects: ["Chemie", "Physik"],
            ags: []
        },
        {
            short: "tb",
            gender: "w",
            email: "u.tebart",
            name: "Tebart",
            subjects: ["Erdkunde"],
            ags: []
        },
        {
            short: "tk",
            gender: "m",
            email: "r.tekuelve",
            name: "Tekülve",
            subjects: ["Deutsch", "Erdkunde"],
            ags: []
        },
        {
            short: "tr",
            gender: "m",
            email: "h.troeger",
            name: "Tröger",
            subjects: ["Deutsch", "Chemie"],
            ags: []
        },
        {
            short: "ut",
            gender: "w",
            email: "p.unterbarnscheidt",
            name: "Unterbarnscheidt",
            subjects: ["Deutsch", "Englisch"],
            ags: []
        },
        {
            short: "uf",
            gender: "w",
            email: "t.unterfeld",
            name: "Unterfeld",
            subjects: ["Deutsch", "Geschichte"],
            ags: ["Rechtschreib-AG"]
        },
        {
            short: "vo",
            gender: "m",
            email: "r.vorholt",
            name: "Vorholt",
            subjects: ["Kunst", "Philosophie", "Englisch"],
            ags: ["Video-AG"]
        },
        {
            short: "we",
            gender: "w",
            email: "n.westphal",
            name: "Westphal",
            subjects: ["Englisch", "Sport"],
            ags: []
        },
        {
            short: "wi",
            gender: "m",
            email: "h.wiesemann",
            name: "Wiesemann",
            subjects: ["Physik", "Mathe"],
            ags: []
        },
        {
            short: "wg",
            gender: "m",
            email: "j.wiggen",
            name: "Wiggen",
            subjects: ["Mathe", "Erdkunde", "Katholische Religion"],
            ags: []
        },
        {
            short: "wl",
            gender: "w",
            email: "a.wilms",
            name: "Wilms",
            subjects: ["Biologie", "Erdkunde"],
            ags: []
        },
        {
            short: "wr",
            gender: "w",
            email: "e.winkler",
            name: "Winkler",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            ref: true
        },
        {
            short: "wt",
            gender: "w",
            email: "m.wintering",
            name: "Wintering",
            subjects: ["Deutsch", "Politik"],
            ags: []
        },
        {
            short: "wd",
            gender: "m",
            email: "c.wodopia",
            name: "Wodopia",
            subjects: ["Deutsch", "Geschichte", "Katholische Religion"],
            ags: [],
            pic: true
        },
        {
            short: "be",
            gender: "m",
            email: "y.beeck",
            name: "Beeck",
            subjects: ["Informatik", "Mathe"],
            ags: [],
            ref: true,
            pic: true
        },
        {
            short: "dm",
            gender: "w",
            email: "i.dreesmann",
            name: "Dreesmann",
            subjects: ["Biologie", "Sport"],
            ags: ["Bio-Chemie-AG"],
            ref: true
        },
        {
            short: "eg",
            gender: "w",
            email: "j.elling",
            name: "Elling",
            subjects: ["Chemie", "Sport"],
            ags: ["Bio-Chemie-AG"],
            ref: true
        },
        {
            short: "gi",
            gender: "m",
            email: "s.giuri",
            name: "Giuri",
            subjects: ["Italienisch", "Spanisch"],
            ags: [],
            ref: true
        },
        {
            short: "kth",
            gender: "w",
            email: "t.kirkopoulos",
            name: "Kirkopoulos",
            subjects: ["Deutsch", "Englisch"],
            ags: [],
            ref: true
        },
        {
            short: "mc",
            gender: "w",
            email: "m.macanovic",
            name: "Macanovic",
            subjects: ["Geschichte", "Katholische Religion"],
            ags: [],
            ref: true
        },
        {
            short: "pa",
            gender: "w",
            email: "k.pater",
            name: "Pater",
            subjects: ["Deutsch", "Spanisch"],
            ags: ["DELE-AG", "Rechtschreib-AG"],
            ref: true
        },
        {
            short: "sj",
            gender: "m",
            email: "j.schotzki",
            name: "Schotzki",
            subjects: ["Englisch", "Physik"],
            ags: [],
            ref: true
        },
        {
            short: "sp",
            gender: "m",
            email: "p.sinkemat",
            name: "Sinkemat",
            subjects: ["Musik"],
            ags: ["Jazz-Band-AG"],
            ref: true
        },
        {
            short: "wk",
            gender: "m",
            email: "k.werner",
            name: "Werner",
            subjects: ["Deutsch", "Geschichte"],
            ags: [],
            ref: true
        },
        {
            short: "ru",
            gender: "w",
            email: "s.rusch",
            name: "Rusch",
            subjects: ["Englisch", "Geschichte"],
            ags: [],
            ref: true
        },
        {
            short: "ke",
            gender: "m", // Nicht sicher
            email: "Nicht bekannt",
            name: "Kaiser",
            subjects: ["Geschichte"],
            ags: [],
            ref: true
        },
        {
            short: "kt",
            gender: "m", // Nicht sicher
            email: "Nicht bekannt",
            name: "Koppert",
            subjects: ["Deutsch", "Geschichte"],
            ags: [],
            ref: true
        },
        {
            short: "kh",
            gender: "m", // Nicht sicher
            email: "Nicht bekannt",
            name: "Kraushaar",
            subjects: ["DaZ"],
            ags: [],
            ref: true
        },
        {
            short: "sc",
            gender: "m", // Nicht sicher
            email: "Nicht bekannt",
            name: "Sock",
            subjects: ["Biologie", "Katholische Religion"],
            ags: [],
            ref: true
        },
        {
            short: "ve",
            gender: "m", // Nicht sicher
            email: "Nicht bekannt",
            name: "Verwaal",
            subjects: ["Musik"],
            ags: [],
            ref: true
        },
        {
            short: "sl",
            gender: "w",
            email: "l.stahl",
            name: "Stahl",
            subjects: ["Französisch", "Erdkunde"],
            ags: [],
            ref: true
        }
    ]

</script>

</html>

<style>
    body {
        font-family: "Helvetica", sans-serif;
        background-color: #F7F7F7;
    }

    .button {
        border: 1px solid black;
        padding: 4px;
        border-radius: 2px;
        color: white;
        text-decoration: none;
        box-shadow: 1px 1px 1px black;
        background-color: #7289DA;
    }

    input {
        padding: 10px 30px;
        width: 40%;
        border: none;
        outline: none;
        flex: 100%;
        box-shadow: 2px 2px 4px 1px #999
    }

    ul {
        list-style: none;
        padding: 0;
    }

    hr {
        width: 50%;
    }

    .result {
        max-width: 35%;
        margin: 10px;
        padding: 5px;
    }

    .card {
        border: 1px solid grey;
        border-radius: 2px;
        box-shadow: 7px 7px 6px grey;
        max-width: 35%;
    }

    .card>.result {
        max-width: 100%;
    }

    td {
        padding: 10px 15px 13px 13px;
    }

    img {
        float: right;
        max-width: 50px;
        max-height: 50px;
        border-radius: 30%;
    }

    @media only screen and (max-width: 800px) {
        input {
            width: 75%;
        }

        .result,
        .card {
            margin: 5px;
            max-width: 95%;
        }

    }
</style>
